//COLORS
$lightgray: #F2F1EF;
$cream: #F6E8D6;
$darkbrown: #2a251f;
$pink: #FCD2BA;
$middlebrown: #DEB083;
$darkgray: #2e2e2b;
$lightgreen: #EDF3D0;

*{
    margin:0;
    padding: 0;
}
section{
    padding: 20px;

    input[type=checkbox]{
        height: 0;
        width: 0;
        visibility: hidden; 
        border: 1px solid #c0c0c0;       
    }
    label {
        cursor: pointer;
        width: 60px;
        height: 30px;
        background-color: $cream;
        display: block;
        border-radius: 100px;
        position: relative;
        border: 1px solid $darkbrown;
    }
    
    label:after {
        content: '';
        position: absolute;
        top: 5px;
        left: 5px;
        width: 30px;
        height: 20px;
        background-color: $darkbrown;
        border-radius: 90px;
        transition: 0.3s;
    }
    
    input:checked + label {
        background-color: $darkbrown;
        transition: background-color 0.8s;
    }
    
    input:checked + label:after {
        left: calc(100% - 5px);
        transform: translateX(-100%);
        background-color: $cream;
        transition: background-color 0.8s;
    }
    
    label:active:after {
        width: 50px;
    }
}