@charset "UTF-8";
body .Light {
  background-color: #F2F1EF;
  color: #2e2e2b;
}

body .Dark {
  background-color: #2e2e2b;
  color: #F2F1EF;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}

/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

body {
  width: 100vw;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 600px) {
  body {
    grid-template-columns: 1fr;
  }
}
@media only screen and (min-width: 600px) {
  body {
    grid-template-columns: 1fr 1fr;
  }
}
body header {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
}
body header .logo {
  height: 30vh;
}

main {
  padding: 5%;
}
main h1 {
  text-align: center;
  font-weight: 100;
  line-height: 1.8rem;
  margin-bottom: 2rem;
}
main #filters {
  display: flex;
}
main #filters label {
  height: 2rem;
}
main #cards {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main #cards.Light {
  border: solid 3px #2a251f;
  background-color: #F6E8D6;
}
main #cards.Dark {
  border: solid 3px #F6E8D6;
  background-color: #2a251f;
}
main #cards .card {
  width: 20rem;
  height: 28.75rem;
  display: flex;
  margin-bottom: 5vh;
  flex-direction: column;
  border-radius: 10%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
main #cards .card .cardheader {
  border-radius: 10%;
}
main #cards .card .cardheader figure {
  width: 320px;
  height: 200px;
}
main #cards .card .cardheader figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
}
main #cards .card .cardmain {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding: 5%;
}
main #cards .card .cardmain .title {
  width: 80%;
  height: 40%;
  padding: 5px 0;
  font-size: 1.5rem;
}
main #cards .card .cardmain .allergen {
  width: 80%;
  padding: 5px 0;
  font-size: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
main #cards .card .cardmain .allergen img {
  height: 2rem;
}
main #cards .card .cardmain .diet {
  width: 80%;
  padding: 5px 0;
  font-size: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 0.5rem;
}
main #cards .card .cardmain .diet img {
  height: 2rem;
}
main #cards .card .cardfooter {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
main #cards .card .cardfooter button {
  padding: 0.5rem 5rem;
}
main #cards .card .cardfooter .price {
  font-size: 2rem;
}
main #cards .card .cardfooter .price:after {
  content: "€";
  margin-left: 0.5rem;
}/*# sourceMappingURL=style.css.map */